/* Main CSS for instagram-search index.html */

/* SITE-LEVEL STYLES */
li {
	list-style-type: none;
}
.main-container {
	width: 320px;
	margin: 0 auto;
}

/* PAGE-LEVEL STYLES */
#logo {
	width: 320px;
	margin: 0 auto;
	display: block;
}