<!DOCTYPE html>
<html lang="en" ng-app="IGSearch">
<head>
	<meta charset="UTF-8">
	<title>Instagram Search</title>
	<meta name="description" content="AngularJS web app to search pictures from instagram">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="css/vendor/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body ng-controller="searchCtrl">
	<div class="main-container">

		<img id="logo" src="img/ng-instagram.png" alt="instagram-search logo" />

		<form name="igSearchForm" novalidate ng-submit="searchPics()">
			<input name="query" type="text" placeholder="Enter a tag to search" class="input" ng-model="query" required />
			<input name="submitBtn" type="submit" class="button" value="Search" />
		</form>

		<div id="error-message" ng-Messages="igSearchForm.$submitted && igSearchForm.$error">
			<p ng-Message="required" class="bad">The above field is required</p>
		</div>

		<div id="status-message">
			<p ng-show="searchDone" class="neutral">Found {{ results.length }} results for {{ lastSearch }}</p>
			<p ng-show="searching" class="neutral">Searching Instagram for photos tagged with {{ query }}</p>
			<p ng-show="searchFail" class="bad">Oops, something went wrong. Refresh the page and try again.</p>
		</div>

		<ul id="results">
			<li ng-repeat="entry in results">
				<a href="{{ entry.link }}" target="_blank">
					<img ng-src="{{ entry.images.low_resolution.url }}" alt="{{ entry.caption.text }}" width="{{ entry.images.low_resolution.width }}"/>
				</a>
			</li>
		</ul>

	</div>
</body>

<script type="text/javascript" src="js/vendor/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-messages.js"></script>
<script type="text/javascript" src="js/vendor/angular-animate.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</html>